/* You can add global styles to this file, and also import other style files */
@import "typography";
@import "colors";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body_color;
  font-family: $body-font-family;
  font-size: $base-font-size;
}
